.title {
    padding-top: 75px;
    font-weight: bold;
    width: 100%;
    height: 200px;
    justify-content: center;
    background: linear-gradient(to bottom, #009900 0%, #ffff00 100%);
    text-align: center;
}
.content{
    width: 100%;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.completed{
    width: 49%;
    background: #66ffff;
    border: 2px solid;
    height: auto;
}
.pending{
    width: 49%;
    background: #ff9933;
    border: 2px solid;
    height: auto;
}
